<div class="card">

  <p-dataView #dv [value]="products" [paginator]="true" [rows]="12" filterBy="name" [sortField]="sortField"
    [sortOrder]="sortOrder" layout="grid">

    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">

        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordenar por precio"
          (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0" class="mobileOf"></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Buscar producto en Tambito"
            (input)="dv.filter($event.target.value)">
        </span>
        <p-dataViewLayoutOptions class="mobileOf"></p-dataViewLayoutOptions>

      </div>
    </ng-template>

    <ng-template let-product pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <img *ngIf="product.image=='no'" [src]="'assets/images/product/' + product.image" [alt]="product.name" />
          <div class="product-list-detail">
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <!--<p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>-->
            <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{product.category}}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">S/ {{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" label="Add to Cart" [disabled]="product.inventoryStatus === 'AGOTADO'">
            </p-button>
            <span
              [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-product pTemplate="gridItem">
      <div class="p-col-12 p-md-4">
        <div class="product-grid-item card" style="padding: 28px;">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{product.category}}</span>
            </div>
            <span
              [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
          </div>
          <div class="product-grid-item-content">
            <img *ngIf="product.image=='no'" [src]="'assets/images/product/' + product.image" [alt]="product.name" />
            <div class="product-name">{{product.name}}</div>
            <div class="product-description">{{product.description}}</div>
            <!--<p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>-->
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">S/ {{product.price}}</span>
            <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'AGOTADO'"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>

  
  <p-toolbar styleClass="p-mb-4" class="mobileOf">
    <ng-template pTemplate="left">
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="Ir a Administracion" icon="pi pi-external-link" class="p-button-help"
        (click)="ir()"></button>
    </ng-template>
  </p-toolbar>
  
</div>
